<header class="w-full bg-gray-900/80 backdrop-blur fixed top-0 z-50">
    <div class="max-w-7xl mx-auto flex items-center justify-between px-4 py-4 relative">
        <!-- Logo -->
        <div class="text-xl font-bold p-4">BLOCKCHAIN UNIVERSE</div>

        <!-- Menu Desktop -->
        <nav id="nav-menu" class="hidden md:flex space-x-6 mx-auto">
            <a href="{% url 'home' %}" class="hover:text-red-500">Início</a>
            <a href="{% url 'cursos' %}" class="hover:text-red-500">Cursos</a>
            <a href="{% url 'topicos' %}" class="hover:text-red-500">Tópicos</a>
            <a href="{% url 'midia' %}" class="hover:text-red-500">Mídia</a>
            <a href="{% url 'usuarios:index' %}" class="hover:text-red-500">Usuários</a>
        </nav>

        <!-- Botões Laterais -->
        <div class="hidden md:flex space-x-4">
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="px-4 py-2 border border-red-500 rounded hover:bg-red-500 transition">
                    Logout
                </a>
            {% else %}
                <a href="{% url 'login' %}" class="px-4 py-2 border border-red-500 rounded hover:bg-red-500 transition">
                    Login
                </a>
                <a href="{% url 'registration_register' %}" class="px-4 py-2 bg-red-500 rounded hover:bg-red-600 transition">
                    Cadastre-se
                </a>
            {% endif %}
            <button class="px-4 py-2 border border-red-500 rounded hover:bg-red-500 transition">
                Contato
            </button>
        </div>

        <!-- Ícone do Menu Móvel -->
        <button id="menu-toggle" class="md:hidden focus:outline-none">
            <!-- Ícone hamburguer -->
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
        </button>
    </div>

    <!-- Mobile Menu -->
    <div id="mobile-menu" class="hidden bg-gray-900 md:hidden px-4">
        <div class="flex flex-col space-y-2 px-4">
            <a href="{% url 'home' %}" class="hover:text-red-500">Início</a>
            <a href="{% url 'cursos' %}" class="hover:text-red-500">Cursos</a>
            <a href="{% url 'topicos' %}" class="hover:text-red-500">Tópicos</a>
            <a href="{% url 'midia' %}" class="hover:text-red-500">Mídia</a>
            <a href="{% url 'usuarios:index' %}" class="hover:text-red-500">Usuários</a>
            <button class="mt-2 px-4 py-4 border border-red-500 rounded hover:bg-red-500 transition">
                Contato
            </button>
        </div>
    </div>
</header>